.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Or Drag And Drop File Here";
  text-align: center;
  font-style: italic;
  width: 100%;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  font-size: 10pt;
  font-style: italic;
}

.custom-file-input:-moz-drag-over::before {
  border-color: black;
}

.custom-file-input{
  position: relative;
}